body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #e7f6ff; //#e7f6ff
  // background: -webkit-linear-gradient(45deg, #bf46d2, #8da2ff, #b0dafc);
  // background: linear-gradient(451deg, #bf46d2, #8da2ff, #b0dafc);
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2980b9,
    #6dd5fa,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1330px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;
  }

  // Должно быть без button
  button {
    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }
  }

  // Должно быть без button
  button {
    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.title {
  padding: 0 13px;
}

.search-block {
  border: 2px solid #e2dfdf;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    top: 14px;
    right: 15px;
  }
}

input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }
  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover img {
      transform: translateX(7px);
    }
    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten(#9dd558, 10%);
  }
  &:active {
    background: darken(#9dd558, 5%);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

// CartItem mobile
@media (max-width: 390px) {
  .cartItem {
    padding: 10px;
    p {
      font-size: 12px;
    }
    b {
      font-size: 13px;
    }
  }
}

.status_orders {
  text-align: center;
  .greenButton {
    width: 245px;
    margin-top: 20px;
  }

  // Должно быть без button
  button {
    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }
  }

  // Должно быть без button
  button {
    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

// status
.status_item {
  text-align: center;
  p {
    margin: 0;
    font-size: 16px;
    opacity: 0.6;
  }
  .greenButton {
    width: 245px;
    margin-top: 20px;
  }
  button {
    position: relative;
    img {
      position: absolute;
      top: 20px;
      left: 26px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
  button {
    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }
  }
}

.itemorder {
  margin-right: 30px;
}

.wrapper-loading {
  height: 317px;

  .loading {
    margin-top: 100px;
    text-align: center;
  }
}

// Swiper
.swiper-container {
  border-radius: 5px !important;
  width: 92%;
}

.swiper-slide {
  height: auto !important;
  img {
    width: 100%;
    height: 100%;
  }
}

.swiper-button-prev {
  background-image: url("./icons/arrow_left.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  left: 3px !important;
}

.swiper-button-next {
  background-image: url("./icons/arrow_right.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  right: 3px !important;
}

.swiper-button-prev:after,
.swiper-button-next::after {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #9dd558 !important;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1329px) {
  .wrapper {
    max-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .wrapper {
    max-width: 830px;
  }
}

@media (max-width: 830px) {
  .wrapper {
    max-width: 580px;
  }
}

@media (max-width: 620px) {
  .title {
    flex-direction: column;
  }
}

@media (max-width: 590px) {
  .header {
    flex-direction: column;

    .menu {
      margin-top: 30px;
    }
  }
}

@media (max-width: 580px) {
  .swiper-container {
    display: none;
  }
  .card-wrapper {
    justify-content: center;
  }
  .orders-wrapper {
    justify-content: center;
  }
  h1 {
    font-size: 29px;
  }
}
